.navbar {

}

.navbar__user_action {
  background-color: $secondary;
  height: 32px;
}

.navbar__user_action_list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: inherit;
}

.navbar__user-action-item {
  display: flex;
  border-right: 1px solid #eee;
  height: 100%;
}

.navbar__user-action-item:last-child {
  margin-right: 5rem !important;

}

.navbar__user-action-item:first-child {
  border-left: 1px solid #eeeeee;
}

.navbar__user-action-item a {
  padding: 0 1rem;
  color: #eee;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;

}

.navbar__user-action-item a:hover {
  color: #eee;
  text-decoration: underline;
}

.navbar__user-action-item-icon {
  padding-right: 5px;
}

//Search box css

.navbar__search {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.navbar__logo {
  flex-grow: 1;
}

.navbar__logo-text {
  font-size: 1.7rem;
  color: $secondary;
  font-weight: bold;
  position: relative;
}

.navbar__logo-text:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 13px;
  border-bottom: .4rem dashed $danger;
  transform: skew(-35deg, 0deg);
}


.navbar__logo-text > span {
  color: $danger;
}


.navbar__search-box {
  margin-right: 48px;
}

.navbar__search-box-icon {
  width: 44px;
  height: 44px;
  border: none;
  background-color: $secondary;
  color: #eeeeee;
  border-radius: 50%;
  cursor: pointer;
}

.navbar__search-box-icon-container {
  display: flex;
  gap: 5px;
}

.navbar__search-box-icon:hover {
  box-shadow: 0 0 3px 3px rgb(0 67 105 / 37%);
}

a.navbar__search-box-icon {
  display: none;
}

.navbar__search-box-input {
  line-height: 2.5rem;
  font-size: .85rem;
  font-style: italic;
  border-width: .5px;
}

.navbar__search-box-input:focus {
  outline: rgb(0 67 105 / 37%);
}

.navbar__search-box-btn{
  display: none;
}

@media screen and (max-width: 540px) {
  .navbar__user_action {
    height: 3px;
  }

  .navbar__user_action_list {
    display: none;
  }

  //Search box css
  .navbar__logo {
    order: 1;
  }

  .navbar__search {
    padding: 1rem 0;
    flex-wrap: wrap;
  }

  .navbar__search-box {
    order: 3;
    width: 100%;
    margin-top: 1rem;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
  }

  .navbar__search-box-icon-container {
    order: 2;
    justify-content: end;
  }

  .navbar__logo-text {
    font-size: 1.5rem;
  }

  .navbar__search-box-input{
    margin-right: 1rem;
  }

  .navbar__search-box-btn{
    border: 2px solid #004369;
    border-radius: 24px;
    padding: 0.3rem 1rem;
    color: #004369;
    font-weight: bold;
    display: unset;
  }

  button.navbar__search-box-icon {
    display: none;
  }

  a.navbar__search-box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}




