/**
 * Font variable
 */
$common-font : 'Rubik';
$common-font-size: 14px;


/**
 * Basic Colors Variable
 */

$primary-dark:		#333333FF;
$primary-light:		#666666FF;
$secondary:		#004369;
$info:			#01949A;
$success:		#009C55;
$danger:		#DB1F48;
$warning:		#f8931f;
$light:			#eeeeee;
$dark:			#2E2E2E;